{% extends "layout.html" %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Display Employees
            </h1>
        {% if employees and employees.length > 0 %}
        {% set employeerows = [] %}
        {% for employee in employees | contains(departmentfilter) | sort(attribute='department') %}
            {% set employeerows = (employeerows.push([{ text: employee.fname }, {text: employee.lname}, {text: employee.postcode},{text: employee.address},{text: employee.nin},{text: employee.bankAccount},{text: employee.startingSalary},
            {text: employee.isManager}, {text: employee.department}]), employeerows) %}
        {% endfor %}
        {% else %}
        There are no Employees.
        {% endif %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{{ govukTable({
caption: "Employee Information",
captionClasses: "govuk-table__caption--m",
firstCellIsHeader: true,
head: [
{ text: "First Name" },
        { text: "Last Name" },
        { text: "Postcode" },
        { text: "Address" },
        { text: "National Insurance Number" },
        { text: "Bank Account Number"},
        { text: "Starting Salary" },
        { text: "Manager" },
        { text: "Department" }
],
        rows: employeerows })
        }}
    </div>
</div>
{% endblock %}
