{% extends "layout.html" %}

{% block pageTitle %}
Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">    <div class="govuk-grid-column-two-thirds">      <h1 class="govuk-heading-xl">        Company HR Portal
  <span class="govuk-caption-xl">{{releaseVersion}}</span>      </h1>{{releaseVersion | log }}<h2 class="govuk-heading-m">About this page</h2>      <h2 class="govuk-heading-m">Links</h2>      <ul class="govuk-list govuk-list--bullet">        <li>          <a href="/createemployee">Create Employee</a>        </li>        <li>          <a href="/getemployee">Get Employee</a>        </li>      </ul>    </div>  </div>
{% endblock %}